runs:
  using: "composite"
  steps:
    - name: Run tests
      run: |
          cd ${GITHUB_WORKSPACE}/build
          ./tests/test_SVD
          ./tests/test_Vector
          ./tests/test_Matrix
          ./tests/test_DEIM
          ./tests/test_GNAT
          ./tests/test_QDEIM
          ./tests/test_S_OPT
          mpirun -n 4 --oversubscribe tests/test_S_OPT
          ./tests/test_IncrementalSVD
          ./tests/test_RandomizedSVD
          mpirun -n 3 --oversubscribe tests/test_RandomizedSVD
          ./tests/test_DMD
          mpirun -n 3 --oversubscribe tests/test_DMD
          ./tests/test_GreedyCustomSampler
          mpirun -n 3 --oversubscribe tests/test_GreedyCustomSampler
          cd {GITHUB_WORKSPACE}/regression_tests
          ./poisson_global_reg_test.sh
          #./{GITHUB_WORKSPACE}/regression_tests/runRegressionTests.sh

          
         

      shell: bash
