runs:
  using: "composite"
  steps:
    - name: Run unit tests
      run: |
          cd ${GITHUB_WORKSPACE}/build
          ./tests/test_SVD
          ./tests/test_Vector
          ./tests/test_Matrix
          mpirun -n 3 --oversubscribe ./tests/test_Matrix
          ./tests/test_DEIM
          ./tests/test_GNAT
          ./tests/test_QDEIM
          ./tests/test_S_OPT
          mpirun -n 4 --oversubscribe tests/test_S_OPT
          ./tests/test_IncrementalSVD
          ./tests/test_DMD
          mpirun -n 3 --oversubscribe tests/test_DMD
          ./tests/test_GreedyCustomSampler
          mpirun -n 3 --oversubscribe tests/test_GreedyCustomSampler
          ./tests/test_RandomizedSVD
          mpirun -n 3 --oversubscribe tests/test_RandomizedSVD
          ./tests/test_StaticSVD
          mpirun -n 3 --oversubscribe tests/test_StaticSVD
          ./tests/test_IncrementalSVDBrand
          mpirun -n 3 --oversubscribe tests/test_IncrementalSVDBrand
          
      shell: bash

    - name: Run regression tests
      if: ${{ github.event.label.name == 'LGTM' || contains(github.event.pull_request.labels.*.name, 'LGTM') }}
      run: |
          cd ${GITHUB_WORKSPACE}
          ./regression_tests/run_regression_tests.sh

      shell: bash
