name: CI
on: 
  pull_request:
    types: [opened, labeled, synchronize]
    branches:
      - master
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with: 
          swap-size-gb: 10

      - name: Install Linux dependencies
        run: |
            sudo apt update
            sudo apt-get install libmpich-dev libblas-dev liblapack-dev libscalapack-mpi-dev libhdf5-serial-dev
      - name: Check out libROM
        uses: actions/checkout@v2
      - uses: ./.github/workflows/checkout_repo
      - name: Build libROM
        run: |
            mkdir ${GITHUB_WORKSPACE}/build
            export CC=mpicc
            export CXX=mpicxx
            scripts/setup.sh
            cd ${GITHUB_WORKSPACE}/build
            cmake -DCMAKE_BUILD_TYPE=Debug -DUSE_MFEM=On ..
            make
            cmake -DCMAKE_BUILD_TYPE=Optimized -DUSE_MFEM=On ..
            make
      - name: Build baseline libROM
        if: ${{ github.event.label.name == 'LGTM' || contains(github.event.pull_request.labels.*.name, 'LGTM') }}
        run: |
            cd ${GITHUB_WORKSPACE}/dependencies
            git clone https://github.com/LLNL/libROM.git
            cd libROM
            mkdir build
            export CC=mpicc
            export CXX=mpicxx
            scripts/setup.sh
            cd build
            cmake -DCMAKE_BUILD_TYPE=Debug -DUSE_MFEM=On ..
            make
            cmake -DCMAKE_BUILD_TYPE=Optimized -DUSE_MFEM=On ..
            make
      - uses: ./.github/workflows/run_tests
  mac:
    runs-on: macos-latest
    steps:
      - name: Install Mac dependencies
        run: |
            uname -a
            gcc --version
            echo "Listing contents of /usr/local/lib/gcc/12"
            ls /usr/local/lib/gcc/12
            cd /usr/local/lib/gcc/12
            echo "Architecture that libquadmath.0.dylib is compiled for: "
            file /usr/local/lib/gcc/12/libquadmath.0.dylib
            echo "otool for libquadmath after adding rpath"
            otool -l /usr/local/lib/gcc/12/libquadmath.0.dylib | grep -A2 LC_RPATH
            brew install open-mpi
            brew install openblas
            brew install lapack
            brew install scalapack
            brew install hdf5
      - name: Check out libROM
        uses: actions/checkout@v2
      - uses: ./.github/workflows/checkout_repo
      - name: Build libROM
        run: |
            export FC=/usr/local/bin/gfortran-12
            mkdir ${GITHUB_WORKSPACE}/build
            cd ${GITHUB_WORKSPACE}/build
            cmake -DCMAKE_BUILD_TYPE=Debug ..
            make
            cmake -DCMAKE_BUILD_TYPE=Optimized  ..
            make
      - uses: ./.github/workflows/run_tests